header {
  min-height: var(--header-size);
  background-color: var(--primary);
  padding: 2rem 2rem 0 2rem;
}

header h1 {
  color: #fff;
  margin-bottom: 0.5rem;
}

header h2 {
  color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  background-color: #82c3c5;
  font-weight: 500;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 60px;
}

nav ul li:hover {
  background-color: #64bdc0;
}

nav .active a {
  color: #b2423a;
  font-weight: bold;
  text-decoration: underline;
}

.content-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card p {
  margin: 6px;
}

.filter {
  display: flex;
  flex-direction: row;
}

.filter input {
  margin-right: 0.4rem;
  min-width: 250px;
  padding: 0.4rem;
}

section.cards h3 {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--gray);
}

.emptystate-img {
  max-width: 80%;
  height: auto;
}
